.nav{
 display: flex;
 flex-direction: row;
 background-color: rgb(66, 61, 61);
 
}

.title{
    color: white;
    margin-left: 12px;
}
ul{
    list-style: none;
    right: 10px;
    padding: 12px;
    position: absolute;
    /* border: 2px solid red; */
}
ul > li{
    display: inline;
    padding: 13px;
}
.links>.inside {
    color: white;
    text-decoration: none;
    flex-direction: row;
}
.links>.inside:hover{
    background-color: white;
    color: black;
    padding: 3px;
    border-radius: 7px;
}