.container{
    display: flex;
    border-radius: 33px;
    background-color: rgb(212, 30, 30);
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
form{
    margin:auto;
    padding: 13px;
}
input{
    border-radius: 13px;
    margin:24px;
    padding: 9px;
    width: 200px;
    border-style: none;
}
button{
    display: block;
    margin:auto;
    font-size: 15px;
    margin-top: 13px;
    border-style: none;
    padding: 7px;
    width: 100px;
    border-radius: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button:hover{
 background-color: black;
 color: white;
}